@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding:0;
}
.container{
    min-height: calc(100vh - 8vh - 7vh);
}
footer{
    height:7vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #0F1111;
    color: white;
    font-family: 'Lobster', cursive;
}
header{
    background-color: #0F1111;
    position: sticky;
    top:0px;
    z-index: 2;
}
.logo{
    margin-top: 3px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 100px;
    padding-left:40px;
    padding-right: 20px;
}
nav{
    display:flex ;
   
}
nav ul{
    height: 8vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
  
}
.slider{
    margin: 2px auto;
    width: 80vw;
    display: flex;
    justify-content: center;
    overflow: hidden;
  
    border-radius: 30px;
}
.card-item{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    padding: 15px 20px;
    cursor: pointer;
}
.card-item:hover{
    background-color: rgb(235, 189, 189);
    transition-duration: .5s;
}
.cardparent{
    margin-top:40px;
    
}
h2{
    margin-left: 200px;
    width: fit-content;
    padding: 10px;
    position: absolute;
    border-radius: 20px;
    background-color: #243A73;
    color: white;
    
    font-family: 'Lobster', cursive;
}
.card{
    margin:20px auto;
    background-color: #F2EBE9;
    display: flex;
    border-radius: 13px;
    justify-content: center;
    width:70vw;
}
.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px;
    
}
#searchbar{
    height: 3vh;
    width: 30vw;
    border-radius: 3px;
    padding:0 10px;
}
.end{
    margin-left: 325px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
#cartimg{
  color: white;
}
#cartxt{
    color: white;
    margin-left: 10px;
    font-family: 'Varela Round', sans-serif;
  }
#searchbtn{
    margin-left:10px;
    height:25px;
    padding:0 9px;
    background-color: #FAC213;
    color: black;

    font-family: 'Varela Round', sans-serif;
    border-radius: 3px;
    cursor: pointer;
}
nav ul li{
    padding-left:20px;
    font-family: 'Varela Round', sans-serif;
    
}

nav ul li a:hover{
    background-color: #2155CD;
    transition-duration: 1s;
}

nav ul li a{
    color: white;
    text-decoration: none;
 
    padding:6px;
    border-radius: 5px;
}